.timer-box{
  display:flex;
  flex-wrap:wrap;
  gap:12px;
  padding:10px;
  background: rgba(0, 0, 0, .05);
  border-radius:14px;
  backdrop-filter:blur(6px);
  max-width: 900px;
  margin:10px auto;
}
.timer-unit{
  background: #FB5837;
  padding:10px;
  border-radius:12px;
  flex:1;
  min-width:75px;
  color: #fff;
  text-align:center;
  
}
.timer-num{
  font-size:26px;
  font-weight:700;
}
.timer-label{
  font-size:12px;
  opacity:0.7;
  font-weight: 900;
  
}

/* سقوط الأيقونة */
.timer-drop-wrap{
  margin-top:18px;
  width:100%;
  height:120px;
  background: red;
  display: none;
  border-radius:12px;
  border:1px dashed rgba(255,255,255,0.07);
  position:relative;
  overflow:hidden;
}
.timer-fall{
  position:absolute;
  top:6px;
  left:50%;
  transform:translateX(-50%);
  font-size:32px;
  transition:transform .6s cubic-bezier(.2,.9,.3,1);
}
.timer-final{
  display:none;
  position:absolute;
  top:40%;
  left:50%;
  transform:translate(-50%, -50%);
  font-size:50px;
}
